
.unian a {
    color: #2a3643;
}

a, a:hover {
    text-decoration-color: -moz-use-text-color !important;
    text-decoration-line: none !important;
    text-decoration-style: solid !important;
}
a {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
:-moz-any-link {
    cursor: pointer;
}
.unian {
    -x-system-font: none;
    font-family: "OpenSans";
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: normal;
    line-height: 18px;
}
ul, li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
li {
    text-align: match-parent;
}
html, body {
    -x-system-font: none;
}
html, body {
    -x-system-font: none;
}