

.unian {width:100%; height:100%; margin:0; padding:0; font: normal normal 14px/18px "OpenSans"; color: #2a3643; background: #fff;}

.unian a:hover {color:#0069D6}
.unian a:focus {text-decoration-line: none;}

.unian  a {
    color: #288ce4;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}


.unian img {outline:none; border: none;}
.unian ul, .unian li {margin:0; padding:0; list-style: none;}
.red {color:#b03d40 !important;font-weight:bold !important}
.top_photo_link:hover {color:#000000}
.red:hover {color:#ed4f4f !important;}
.bold {font-weight:bold !important}
.company_news {display: inline; width: 13px; height: 13px; margin: 0; padding: 0 7px; overflow: hidden; background: url(http://images.unian.net/img/bg_company_news_main.png.png) no-repeat 2px 4px;}
UNUSED#admixer_async_868689628, UNUSED#admixer_async_1263440368, UNUSED#admixer_async_1842125763 {margin:0px 0px 5px 0px}

.before_calendar:before {
background-position: -20px -25px;
background-image: url(http://images.unian.net/img/calendar.png);
display: inline-block;
background-repeat: no-repeat;
}
#overheader ul li a:hover {color: #edc34f;}
#overheader ul li.services:hover {background-position: -215px -34px;}
#overheader ul li.services:hover ul {display: block;z-index: 1000;}
#overheader ul li.services ul li:hover {background: #65a9ca;}
#overheader .right a:hover {color: #edc34f;}
#overheader .right .vk_over:hover {background-position: 0 -25px;}
#overheader .right .fb_over:hover {background-position: -26px -25px;}
#overheader .right ul li:hover {background-position: -300px -256px;}
#overheader .right ul li a:hover {color: #2A3643;}
#overheader .right ul li:hover ul {display: block;}
#overheader .right ul li ul li:hover {background: #ffdb78;}
.discussion a:hover{color:#000000}
#top_search input.btn:hover {background-position: -52px -30px;}
UNUSED#top_menu ul li.selected a, #top_menu ul li.selected a:hover {color: #2a3643;}
#top_menu ul li a:hover {color: #edc34f;}
#top_menu ul li.submenu:hover {background-position: right -14px;}
#top_menu ul li.submenu:hover a {color: #edc34f;}
#top_menu ul li.submenu:hover ul {display: block;}
#top_menu ul li.submenu ul li a:hover {color: #2a3643; background: #ffdb78;}
#special_projects li a:hover {color: #E9AE0D; }
.left_top .top_article h1 a:hover {color: #edc34f;}
.main_news ul li a:hover h2 {color: #E9AE0D;}
.main_news ul li a:hover .img_hover {display: block;}

.main_all_news {width: 100%; float: right; margin: 27px 0 0 0;}

.main_all_news li {font: normal normal 14px/18px "OpenSans"; margin: 0 0 12px 0;}
.main_all_news li .date {font: normal normal 14px/18px "OpenSansCondBold"; padding: 0 4px 0 0;}
.main_all_news li a {color: #2a3643;}
.main_all_news li a:hover {color: #E9AE0D;}
.main_all_news li .video {width: 12px; height: 12px; background:url(http://images.unian.net/img/icon-sprite.png) -15px -74px; display: inline-block; position: relative; bottom: -1px; margin: 0 4px 0 3px;}
.main_all_news li .updated {height: 12px; background:url(http://images.unian.net/img/icon-sprite.png) -27px -74px no-repeat; display: inline-block; position: relative; bottom: 1px; margin: 0 4px 0 1px; padding: 0 0 0 16px; font: normal normal 12px/12px "OpenSans"; color: #edc34f;}
.left_top .link_all:hover {color: #E9AE0D;}
.right_top .right_slider #right_slider li .title:hover {color: #E9AE0D;}
.right_top .right_slider #right_slider li .subtitle:hover {color: #E9AE0D; background-position: -364px -433px;}
.right_top .right_slider #right_slider li .photo:hover {color: #E9AE0D;}
.right_top .right_slider_top_thema #right_slider_top_thema li .title:hover {color: #E9AE0D;}
.right_top .right_slider_top_thema #right_slider_top_thema li .subtitle:hover {color: #E9AE0D; background-position: -364px -433px;}
.right_top .right_slider_top_thema #right_slider_top_thema li .photo:hover {color: #E9AE0D;}
.right_views ul li a:hover .anons {background: #E9AE0D;}
UNUSED.presscenter .pressconf.selected, UNUSED.presscenter .releases.selected {background: #edc34f; color: #2d3239;}
.presscenter .press_container a:hover {color: #E9AE0D;}
UNUSED.popular .commented.selected, UNUSED.popular .viewed.selected {background: #edc34f; color: #2d3239;}
.popular .popular_container a:hover {color: #E9AE0D;}
.publications ul li a:hover .img_hover {display: block;}
.publications ul li h2 a:hover {color: #E9AE0D;}
.anonses_window ul li a:hover {color: #E9AE0D;}
.multimedia .m_220x140:hover .caption_ {display: block;}
.multimedia .m_220x140_:hover .caption_ {display: block;}
.multimedia .m_380x140:hover .caption_ {display: block;}
.multimedia .m_300x140:hover .caption_ {display: block;}
.economix .p_items span:hover {color: #E9AE0D;}
.economix .items a:hover {color: #E9AE0D;}
.economix .comments ul li a:hover {color: #E9AE0D;}
.special_projects .lead:hover {color: #edc34f;}
.special_projects ul li a:hover {color: #E9AE0D; background-position: 0 -615px;}
#footer .holder .menu a:hover {color: #edc34f;}
#back-top a:hover {color: #000;}
#back-top a:hover span {    background-color: #777;}
.article_table tr:hover td {background: #ffdc78;}
.article_table tr:hover td.hdr {background: #ebebeb;}
.article_table span {display: block; float: left;}
UNUSED.olympic_right .right_table td.gold, UNUSED.olympic_right .right_table td.silver, UNUSED.olympic_right .right_table td.bronze {width: 20px;}


.country:before{content:"";display:inline-block;width:16px;height:11px;margin:0 6px 0 10px;background-image:url(http://images.unian.net/img/countries.png);background-repeat:no-repeat;background-position:-220px -85px}
.country.afg:before{background-position:0 -10px}
.country.aho:before{background-position:-20px -10px}
.country.alb:before{background-position:-40px -10px}
.country.alg:before{background-position:-60px -10px}
.country.and:before{background-position:-80px -10px}
.country.ang:before{background-position:-100px -10px}
.country.ant:before{background-position:-120px -10px}
.country.arg:before{background-position:-140px -10px}
.country.arm:before{background-position:-160px -10px}
.country.aru:before{background-position:-180px -10px}
.country.asa:before{background-position:-200px -10px}
.country.aus:before{background-position:-220px -10px}
.country.aut:before{background-position:-240px -10px}
.country.aze:before{background-position:-260px -10px}
.country.bah:before{background-position:-280px -10px}
.country.ban:before{background-position:-300px -10px}
.country.bar:before{background-position:-320px -10px}
.country.bdi:before{background-position:-340px -10px}
.country.bel:before{background-position:-360px -10px}
.country.ben:before{background-position:-380px -10px}
.country.ber:before{background-position:-400px -10px}
.country.bhu:before{background-position:-420px -10px}
.country.bih:before{background-position:-440px -10px}
.country.biz:before{background-position:-460px -10px}
.country.blr:before{background-position:-480px -10px}
.country.bol:before{background-position:-500px -10px}
.country.bot:before{background-position:-520px -10px}
.country.bra:before{background-position:-540px -10px}
.country.brn:before{background-position:-560px -10px}
.country.bru:before{background-position:-580px -10px}
.country.bul:before{background-position:-600px -10px}
.country.bur:before{background-position:-620px -10px}
.country.caf:before{background-position:-640px -10px}
.country.cam:before{background-position:-660px -10px}
.country.can:before{background-position:-680px -10px}
.country.cay:before{background-position:-700px -10px}
.country.cgo:before{background-position:-720px -10px}
.country.cha:before{background-position:-740px -10px}
.country.chi:before{background-position:-760px -10px}
.country.chn:before{background-position:-780px -10px}
.country.civ:before{background-position:0 -25px}
.country.cmr:before{background-position:-20px -25px}
.country.cod:before{background-position:-40px -25px}
.country.cok:before{background-position:-60px -25px}
.country.col:before{background-position:-80px -25px}
.country.com:before{background-position:-100px -25px}
.country.cpv:before{background-position:-120px -25px}
.country.crc:before{background-position:-140px -25px}
.country.cro:before{background-position:-160px -25px}
.country.cub:before{background-position:-180px -25px}
.country.cyp:before{background-position:-200px -25px}
.country.cze:before{background-position:-220px -25px}
.country.den:before{background-position:-240px -25px}
.country.dji:before{background-position:-260px -25px}
.country.dma:before{background-position:-280px -25px}
.country.dom:before{background-position:-300px -25px}
.country.ecu:before{background-position:-320px -25px}
.country.egy:before{background-position:-340px -25px}
.country.eri:before{background-position:-360px -25px}
.country.esa:before{background-position:-380px -25px}
.country.esp:before{background-position:-400px -25px}
.country.est:before{background-position:-420px -25px}
.country.eth:before{background-position:-440px -25px}
.country.fij:before{background-position:-460px -25px}
.country.fin:before{background-position:-480px -25px}
.country.fra:before{background-position:-500px -25px}
.country.fro:before{background-position:-520px -25px}
.country.fsm:before{background-position:-540px -25px}
.country.gab:before{background-position:-560px -25px}
.country.gam:before{background-position:-580px -25px}
.country.gbr:before{background-position:-600px -25px}
.country.gbs:before{background-position:-620px -25px}
.country.geo:before{background-position:-640px -25px}
.country.geq:before{background-position:-660px -25px}
.country.ger:before{background-position:-680px -25px}
.country.gha:before{background-position:-700px -25px}
.country.gre:before{background-position:-720px -25px}
.country.grn:before{background-position:-740px -25px}
.country.gua:before{background-position:-760px -25px}
.country.gui:before{background-position:-780px -25px}
.country.gum:before{background-position:0 -40px}
.country.guy:before{background-position:-20px -40px}
.country.hai:before{background-position:-40px -40px}
.country.hkg:before{background-position:-60px -40px}
.country.hon:before{background-position:-80px -40px}
.country.hun:before{background-position:-100px -40px}
.country.ina:before{background-position:-120px -40px}
.country.ind:before{background-position:-140px -40px}
.country.ioa:before{background-position:-160px -40px}
.country.ioa:before{background-position:-180px -40px}
.country.iri:before{background-position:-200px -40px}
.country.irl:before{background-position:-220px -40px}
.country.irq:before{background-position:-240px -40px}
.country.isl:before{background-position:-260px -40px}
.country.isr:before{background-position:-280px -40px}
.country.isv:before{background-position:-300px -40px}
.country.ita:before{background-position:-320px -40px}
.country.ivb:before{background-position:-340px -40px}
.country.jam:before{background-position:-360px -40px}
.country.jor:before{background-position:-380px -40px}
.country.jpn:before{background-position:-400px -40px}
.country.kaz:before{background-position:-420px -40px}
.country.ken:before{background-position:-440px -40px}
.country.kgz:before{background-position:-460px -40px}
.country.kir:before{background-position:-480px -40px}
.country.kor:before{background-position:-500px -40px}
.country.ksa:before{background-position:-520px -40px}
.country.kuw:before{background-position:-540px -40px}
.country.lao:before{background-position:-560px -40px}
.country.lat:before{background-position:-580px -40px}
.country.lba:before{background-position:-600px -40px}
.country.lbr:before{background-position:-620px -40px}
.country.lca:before{background-position:-640px -40px}
.country.les:before{background-position:-660px -40px}
.country.lib:before{background-position:-680px -40px}
.country.lie:before{background-position:-700px -40px}
.country.ltu:before{background-position:-720px -40px}
.country.lux:before{background-position:-740px -40px}
.country.mac:before{background-position:-760px -40px}
.country.mad:before{background-position:-780px -40px}
.country.mar:before{background-position:0 -55px}
.country.mas:before{background-position:-20px -55px}
.country.maw:before{background-position:-40px -55px}
.country.mda:before{background-position:-60px -55px}
.country.mdv:before{background-position:-80px -55px}
.country.mex:before{background-position:-100px -55px}
.country.mgl:before{background-position:-120px -55px}
.country.mhl:before{background-position:-140px -55px}
.country.mkd:before{background-position:-160px -55px}
.country.mli:before{background-position:-180px -55px}
.country.mlt:before{background-position:-200px -55px}
.country.mne:before{background-position:-220px -55px}
.country.mon:before{background-position:-240px -55px}
.country.moz:before{background-position:-260px -55px}
.country.mri:before{background-position:-280px -55px}
.country.mtn:before{background-position:-300px -55px}
.country.mya:before{background-position:-320px -55px}
.country.nam:before{background-position:-340px -55px}
.country.nca:before{background-position:-360px -55px}
.country.ned:before{background-position:-380px -55px}
.country.nep:before{background-position:-400px -55px}
.country.ngr:before{background-position:-420px -55px}
.country.nig:before{background-position:-440px -55px}
.country.nor:before{background-position:-460px -55px}
.country.nru:before{background-position:-480px -55px}
.country.nzl:before{background-position:-500px -55px}
.country.oma:before{background-position:-520px -55px}
.country.pak:before{background-position:-540px -55px}
.country.pan:before{background-position:-560px -55px}
.country.par:before{background-position:-580px -55px}
.country.per:before{background-position:-600px -55px}
.country.phi:before{background-position:-620px -55px}
.country.ple:before{background-position:-640px -55px}
.country.plw:before{background-position:-660px -55px}
.country.png:before{background-position:-680px -55px}
.country.pol:before{background-position:-700px -55px}
.country.por:before{background-position:-720px -55px}
.country.prk:before{background-position:-740px -55px}
.country.pur:before{background-position:-760px -55px}
.country.qat:before{background-position:-780px -55px}
.country.rou:before{background-position:0 -70px}
.country.rsa:before{background-position:-20px -70px}
.country.rus:before{background-position:-40px -70px}
.country.rwa:before{background-position:-60px -70px}
.country.sam:before{background-position:-80px -70px}
.country.sen:before{background-position:-100px -70px}
.country.sey:before{background-position:-120px -70px}
.country.sin:before{background-position:-140px -70px}
.country.skn:before{background-position:-160px -70px}
.country.sle:before{background-position:-180px -70px}
.country.slo:before{background-position:-200px -70px}
.country.smr:before{background-position:-220px -70px}
.country.sol:before{background-position:-240px -70px}
.country.som:before{background-position:-260px -70px}
.country.srb:before{background-position:-280px -70px}
.country.sri:before{background-position:-300px -70px}
.country.stp:before{background-position:-320px -70px}
.country.sud:before{background-position:-340px -70px}
.country.sui:before{background-position:-360px -70px}
.country.sur:before{background-position:-380px -70px}
.country.svk:before{background-position:-400px -70px}
.country.swe:before{background-position:-420px -70px}
.country.swz:before{background-position:-440px -70px}
.country.syr:before{background-position:-460px -70px}
.country.tan:before{background-position:-480px -70px}
.country.tga:before{background-position:-500px -70px}
.country.tha:before{background-position:-520px -70px}
.country.tjk:before{background-position:-540px -70px}
.country.tkm:before{background-position:-560px -70px}
.country.tls:before{background-position:-580px -70px}
.country.tog:before{background-position:-600px -70px}
.country.tpe:before{background-position:-620px -70px}
.country.tri:before{background-position:-640px -70px}
.country.tun:before{background-position:-660px -70px}
.country.tur:before{background-position:-680px -70px}
.country.tuv:before{background-position:-700px -70px}
.country.uae:before{background-position:-720px -70px}
.country.uga:before{background-position:-740px -70px}
.country.ukr:before{background-position:-760px -70px}
.country.uru:before{background-position:-780px -70px}
.country.usa:before{background-position:0 -85px}
.country.uzb:before{background-position:-20px -85px}
.country.van:before{background-position:-40px -85px}
.country.vat:before{background-position:-60px -85px}
.country.ven:before{background-position:-80px -85px}
.country.vie:before{background-position:-100px -85px}
.country.vin:before{background-position:-120px -85px}
.country.yem:before{background-position:-140px -85px}
.country.zam:before{background-position:-160px -85px}
.country.zim:before{background-position:-180px -85px}
.country.ioa:before,.country.iop:before{background-position:-240px -85px}
.country.fil:before{background-position:-260px -85px}
.country.isu:before{background-position:-280px -85px}
.country.wcf:before{background-position:-300px -85px}
.country.iihf:before{background-position:-320px -85px}
.country.ibu:before{background-position:-340px -85px}
.country.fibt:before{background-position:-360px -85px}
.country.fis:before{background-position:-380px -85px}
.country.urs:before{background-position:-400px -85px}
.country.gdr:before{background-position:-420px -85px}
.country.frg:before{background-position:-440px -85px}
.country.eua:before{background-position:-460px -85px}
.country.eun:before{background-position:-480px -85px}
.country.csr:before,.country.tch:before{background-position:-500px -85px}
.country.ysr:before,.country.yug:before{background-position:-520px -85px}
.browser_extension.visible{display: block;}
.browser_extension_message{margin-left: -47px;color: #fff;font-size: 1.4em;min-height: 38px;padding: 10px 0;padding-left: 48px;line-height: 1.2em;margin-right: 237px;position: relative;}


.browser_extension_button,.browser_extension_close,UNUSED.browser_extension_close span{display: block;}
.b-min_width .browser_extension_close{display: none;float: right;position: relative;text-decoration:none;}
.browser_extension_button{background-repeat: no-repeat;background-position: 0 0;width: 180px;height: 30px;float: right; margin-top: 12px;}

.browser_extension_close,.browser_extension_close span{ background-position: 0 0; height: 20px; width: 20px;  background-repeat: no-repeat;}
.browser_extension_close{background-image: url(http://images.unian.net/img/close_extension.png);position: absolute;right: 16px;top: 16px;}
.analytics{text-transform: uppercase; font-size: 10px; background: rgb(237, 195, 79); padding: 0px 2px;}
.interview{text-transform: uppercase; font-size: 10px; background: rgb(237, 195, 79); padding: 0px 2px;}
